*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.campo{
    background-image: url(../img/campo-verde.jpg);
    background-position: center;
    background-size: contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    /* background-color:red; */
    position: relative;
}

#palla{
    height: 70px;
    position: absolute;
    top: 0px;
    left: 0px;
    /* transform: translate(-50%, -50%); */
}